.container {
    margin: 3rem 0 0 0 !important;
    border-left: solid #d6d6d6 1px;    
}

.padding {
    margin: 0 0 140px 60px !important;
}    

/* Stopwatch Icon */
.stopwatch {
    margin-top: 1.1rem;
}

.card {
    margin: .5rem .5rem 2rem 0 !important;
    padding-top: 0rem !important;
    font-weight: bold !important;
    height: 248px !important;
    /* min-height: 165.9px !important; */
    min-width: 672px !important;
    /* min-width: 165.9px !important; */
    background-color: #ffffff !important;
    border-radius: 1px !important;
    /* position: relative;     */
}

/* Card header title */
.header {
    color: #2f2f2f !important;
    margin-top: 0rem !important;


}

/* Card Category Icons */
.icons {
    height: 44px;
    width: 44px;
    margin-right: .4rem !important;
    background-color: #b2db6d !important;
    margin-bottom: 14.9px;
    float: left;
    margin-top: 1rem !important;
}

/* Region flag icons */

.flagIconsEg{
    height: 30px;
    width: 30px;  
    margin-right: .5rem;      
    display: inline-block !important;
    vertical-align: center !important;
    background-image: url(./CountriesFlags/egypt.svg);   
    border-radius: 50%;
}
.flagIconsEu{
    height: 30px;
    width: 30px;  
    margin-right: .5rem;      
    display: inline-block !important;
    vertical-align: center !important;
    background-image: url(./CountriesFlags/eu.svg);   
    border-radius: 50%;
}

.flagIconsIn{
    height: 30px;
    width: 30px;  
    margin-right: .5rem;      
    display: inline-block !important;
    vertical-align: center !important;
    background-image: url(./CountriesFlags/india.svg);   
    border-radius: 50%;
}

/* Languge list items, span space between  */
.languageSpan {
    margin: auto .6rem;
}



/* Region List Horizontally Aligned ul */
.regionList {
    /* list-style-type: none !important;
    overflow: hidden !important; */
    color:#262626 !important;
    margin-right: .5rem;
    font-size: .85rem;
    padding-bottom: 2rem !important;
}

ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}



.addResource {
    font-weight: 500 !important;
    display: inline !important;
    margin-right: 1rem;
    cursor: pointer;
    /* line-height: 2px !important; */
}

.rectangleCardsContent {
    margin-top: 0 !important;
    margin-right: 1.5rem !important;
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57 !important;
    letter-spacing: normal;
    color: #262626 !important;
  }

  .hrTop {
      margin: 0 auto;
      width: 95% !important;
  }

  .resourcesQty {
    font-size: 12px !important;
    font-weight: normal !important;
    font-stretch: normal;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: normal;
    color: #ffffff !important;
    margin-bottom: 5px !important;
    bottom: 0 !important;    
    vertical-align: bottom !important;
    position: absolute !important;
  }

  .stopwatch {
    font-size: 18px !important;   
    float: right !important;
    font-weight: normal !important;
    font-stretch: normal;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: normal;
    color: #2f2f2f!important;
    top: 0 !important;    
    vertical-align: top !important;
    position: relative !important;
    margin-right: .75rem;
  }

  .timeBurden {color:  #2f2f2f; font-size: 13px !important;}


    
    .emergency, .risk {    
    background-color: #ffffff !important;
    color: whitesmoke !important;
    font-weight: bold !important; 
    
   
    }
 
    
    .casefinding {   
    background-color: #179c48 !important;
    color: whitesmoke !important;    
    }

    .surveillance {       
    background-color: #d04e37 !important;
    color: whitesmoke !important;
    font-weight: bold !important;        
    }

    .ph {      
    background-color: #f289b7 !important;
    color: whitesmoke !important;
    font-weight: bold !important;        
    }
        
    .infection {
    background-color: #7ed5f4 !important;
    color: whitesmoke !important;    
    }

    .lab {       
        background-color: #b2db6d !important;
        color: whitesmoke !important;
        font-weight: bold !important;        
        }
    
        .casemgt {      
        background-color: #3462ad !important;
        color: whitesmoke !important;
        font-weight: bold !important;        
        }
            
        .societal {
        background-color: #b24188 !important;
        color: whitesmoke !important;    
        }
        
    
    
    
    @media (max-width: 770px){
        .card {
            margin: 2% 0 !important;
           
        }
    
        .container {
            margin: 1rem;
            }
        
    }

    