.container {
    margin: 3rem 0 0 141px;   
}

.advancedSearch {
  margin-bottom: 70px !important;
}
/* 
.content {margin-left: 141px;}
  */
    
    
    @media (max-width: 770px){
        
        .container {
            margin: 1rem;
            }
        
}