/* To center nav items  */
.center {   
    justify-content: center !important;    
}

.logo {margin-left: 3rem;}

.items {
   margin-right: 6rem !important;
   
    
}

.nav-link:hover {color: #ff4a2f !important;}

@media (max-width: 770px){
    .logo {
        margin-left: 0;
    }  
    
}


