/* To center nav items  */
.center {justify-content: center !important;}

/* Spacing nav items across center */
.items {margin-right: 4rem !important;}

.logo {margin-left: 110px;}

.nav-link:hover {color: #ff4a2f !important;}

@media (max-width: 770px){
    .logo {
        margin-left: 0;
    }  
    
}


