.container {
    margin: 3rem 0 50px 0 !important;
  
    
    
}

    
.card {
    margin: .5rem .5rem !important;
    font-weight: bold !important;
    height: 165.9px !important;
    width: 165.9px !important;
    color: #ffffff !important;
    border-radius: 1px !important;
}

.categoryTitle {
    margin-top: 4rem !important;
    width: 118.1px !important;          
    font-size: .90rem !important;
    font-weight: 600 !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.11 !important;
    letter-spacing: normal !important;
    color: #ffffff !important;
  }
    
    .emergency {    
    background-color: #84c1bc !important;
    color: whitesmoke !important;
    font-weight: bold !important;    
    }

 

    .risk {   
    background-color: #f7cb0f !important;
    color: whitesmoke !important;
    font-weight: bold !important;    
    }
    
    .casefinding {   
    background-color: #179c48 !important;
    color: whitesmoke !important;    
    }

    .surveillance {       
    background-color: #d04e37 !important;
    color: whitesmoke !important;
    font-weight: bold !important;        
    }

    .ph {      
    background-color: #f289b7 !important;
    color: whitesmoke !important;
    font-weight: bold !important;        
    }
        
    .infection {
    background-color: #7ed5f4 !important;
    color: whitesmoke !important;    
    }

    .lab {       
        background-color: #b2db6d !important;
        color: whitesmoke !important;
        font-weight: bold !important;        
        }
    
        .casemgt {      
        background-color: #3462ad !important;
        color: whitesmoke !important;
        font-weight: bold !important;        
        }
            
        .societal {
        background-color: #b24188 !important;
        color: whitesmoke !important;    
        }
        
    
    
    
    @media (max-width: 770px){
        .card {
            margin: 2% 0 !important;
        }
    
        .container {
            margin: 1rem;
            }
        
    }