.container {   
    background-color: #f5f5f5;    
    min-height: 825px;
    width: 100%;    
    /* margin-left: 0 !important; */

} 

.labTestingColoredBar {
  width: 100%;
  height: 120px;
  background-color: #b2db6d;
  margin: auto !important;


}

.emergencyColoredBar {
    width: 100%;
    height: 120px;
    background-color: #84c1bc;
    margin: auto !important;  
  
  }
  
.riskCommColoredBar {
    width: 100%;
    height: 120px;
    background-color: #f7cb0f;
    margin: auto !important;
  
  
  }

  .caseMgtColoredBar {
    width: 100%;
    height: 120px;
    background-color: #3462ad;
    margin: auto !important;

  }

  .infectionColoredBar {
    width: 100%;
    height: 120px;
    background-color: #7ed5f4;
    margin: auto !important;

  }
  .surveillanceColoredBar {
    width: 100%;
    height: 120px;
    background-color: #d04e37;
    margin: auto !important;  
  }

  .caseFindingColoredBar {
    width: 100%;
    height: 120px;
    background-color: #179c48 ;
    margin: auto !important;  
  }

  .societalResponseColoredBar {
    width: 100%;
    height: 120px;
    background-color: #b24188 ;
    margin: auto !important;  
  }

  .publicHealthColoredBar {
    width: 100%;
    height: 120px;
    background-color: #f289b7;
    margin: auto !important;  
  }



 




.resourceTitle {    
    /* font-family: Gilroy; */
    font-size: 24px !important;
    font-weight: bold !;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
    margin: auto;
    vertical-align: middle !important;
    padding-top: 2.5rem !important; 
    margin-left: 130px;
    
  }

  .resourceCount {
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-left: 130px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff !important;  
  }
    
    
  @media (max-width: 770px){
        .card {
            margin: 2% 0 !important;
        }
    
        .container {
            margin: 1rem;
            }

       .resourceTitle, .resourceCount {
           margin-left: .75rem;
       }
        
    }
    